.login-board{
		padding: 2em;
	form{
		border: 1px solid rgba(255,255,255,.2);
		padding: 1em;
		margin: 9em auto 0 auto;
		padding-top: 5em;
	}
	input{
		display: inline-block;
		width: 80%;

	}
	.board{
		display: inline-block;
	}
	p:nth-child(3){
		display: inline-block;
		margin-right: 2em;
	}
	button{
		display: inline-block;
		width: 117px;
		background: #fff;
		height: 31px;
		border-radius: 4px;
		outline: none;
		border: none;



	}
}

.avatar{
		margin: 0 auto;
		width: 94px;
		height: 94px;
		border-radius:50%;
		background: #fff;
		margin-top: -140px;
		margin-bottom: 2em;
	}