body{
	background: url(../img/bg.jpg)
}



.login-board{
	background: $blue;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #fff;
	text-align: center;
	max-width: 546px;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-stretch: condensed;
	text-shadow: -0.7px -0.7px 0 rgba(0,0,0, 0.11);
	}
}

.logo{
	text-align: right;
	display: inline-block;

	margin: 0 auto;
}