.footer-nav{ //przed nawiasem stawiamy spacje, to samo po dwukropku. Zmień proszę w pozostałych miejscach
	position: fixed;
	top: 0;
	left:0;
	background: $shadowColor;
	width:100%;
	overflow: hidden;
	font-size: 2em;
	max-height: 3.5em;
	box-shadow: 0px 1px 1px black;
	transition: all .2s linear;
	ul{
		display: flex;
		justify-content: flex-start;
		color: #fff;
		margin-left: 0;
		flex-direction: column-reverse;
		@media screen and (min-width: 1180px){
			margin-left: 1.2em;
		}
		li{
			list-style: none;
			font-size: .9em;
			text-align: left;
			cursor: pointer;
			transition: all .1s linear;
			position: relative;
			&:after{
				content: "";
				display: block;
				position: absolute;
				width:0%;
				text-shadow: .1px .1px 1px #000;
				transition: all .2s linear;
			}
			@media screen and(min-width: 640px){
				box-shadow:none;
				&:hover{
					background: none;
					text-shadow: .5px .5px 2px #000;
					&:after{
					content: "";
					width: 80%;
					height:1px;
					background: #fff;
					}
				}	
			}
		}
		:last-child{
			flex: 2 1 auto;
			text-align: right;
			font-size:1.2em;
			&:hover{
				text-shadow: .5px .5px 2px #000;
				&:after{
					width:0;
					height:0;
				}
			}
		}
	}
}
.nav-logo{
	position: absolute;
	top: 0%;
    left: 75%;
    transform: translateY(25%);
    img{
    	width: 65px;
    	min-width:100%;
    }
}

li{
	i{
		color:#fff;
		transition: all .2s linear;
		&:hover{
			color: #3b5998;
		}
	}
}

// chyba byłeś już głodny :) zmień nazwę na coś bardziej adekwatnego do wyglądu elementu
// hamburger
.hamburger{
	cursor: pointer;
	display:flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	left: -40%;
	margin: 1em;
	span[class^="line"]{
		display:block;
		width:50px;
		border: 2px solid #eee;
		margin: 5px auto;
		transform: rotate(0deg);
		transition: all .2s linear;
	}
	@media screen and(min-width: 640px){
		display: none;
	}
}

.openNav .hamburger{
	span:first-child{ //elementy są dodawane/usuwane dynamicznie? jeżeli nie to nie ma potrzeby wykorzystywać selektora first-child, last-child itp
	transform-origin: right center;
  	transform: translateY(-30%) rotate(-45deg);
	}
	span:nth-child(2){
		opacity: 0;
	}
	span:last-child{
		transform-origin: right center;
  	transform: translateY(140%) rotate(45deg);
	}
}

.openNav{
	max-height:100%;
}

// media
@media screen and(min-width: 640px){
	.footer-nav{
		font-size: 1em;
		position: static;
		background: none;
		box-shadow: none;
		padding: 0;
		ul{
		flex-direction: row;
		}
	}
}

.footer-nav{
	li{
		padding: .6em;
		box-shadow: 0px -1px 0px 1px black;
		&:hover{
			background: rgba(255,255,255, .4);
		}
		a{
			color: #fff;
			}
	}
}
