label{
	display: inline-block;
	width:85%;
	position: relative;

}

.login-board{
	padding: .5em;
	border-radius: 4px;
	@media screen and (min-width: 640px){
	padding: 1.5em;	
	}
	form{
		border: 1px solid rgba(255,255,255,.2);
		margin: 9em .2em 4em .2em;
		padding: 7em .5em 1.5em .5em;
		@media screen and (min-width: 930px){
			padding: 5.5em .5em 3em .5em;
			margin: 9em 1.5em 3em 1.5em;
		}
	}
	input{
		border: none;
		outline: none;
		max-height: 1.9em;
		border-radius: 2px;
		&:focus{
			outline: none;
			border: none;
			box-shadow: inset 1px 1px 3px $shadowColor;
		}

	}
	.keyboard{
		margin-left: .1em;
		display: inline-block;
		vertical-align: middle;
		fill: #fff;
		cursor: pointer;
		transition: all .1s linear;
		@media screen and (min-width: 640px){
			margin-left: .3em;	
		}
		&:hover{
			filter: drop-shadow(1px 1px 4px rgba(255,255,255,0.9));
			transform: scale(1.05);
		}
	}
	p:nth-child(5){
		display: inline-block;
		margin-right: 1em;
	}
	button{
		display: inline-block;
		width: 117px;
		background: #fff;
		height: 31px;
		border-radius: 4px;
		outline: none;
		border: none;
		cursor: pointer;
		transition: all .1s linear;
		&:hover{
			outline:none;
			box-shadow: inset 1px 1px 3px $shadowColor;
		}
		&:focus{
			outline:none;
			box-shadow: inset 1px 1px 3px $shadowColor;
		}
	}
}

.avatar{
		margin: 0 auto;
		width: 94px;
		height: 94px;
		border-radius:50%;
		background: #fff;
		margin-top: -140px;
		margin-bottom: 2em;
	}

.num-place{
	*{
		display: inline-block;
	}
	p:first-child{
		margin-right: .5em;
		font-weight: bold;
	}
	img{
		width:50%;
		cursor: pointer;
		outline: none;
		border: none;
		transition: all .1s linear;
		&:hover{
			filter: drop-shadow(1px 1px 4px rgba(255,255,255,0.9));
			transform: rotateY(180deg);
		}
	}
}

.error-msg{
	position: absolute;
	border: 1px solid $error-color;
	padding: .5em;
	border-radius: 4px;
	background: $error-bg-color;
	z-index: 100;
	left: 0%;
	opacity: .9;
	&:after{
		content: "";
		display: block;
		position: absolute;
		top: 0%;
		left: 0%;
		transform: translateY(-100%);
		border-style: solid;
		border-width: 0 10px 17px 10px;
		border-color: transparent transparent $error-color transparent;
	}
}

.error{
	box-shadow: inset 0px 0px 1px 1px $error-color;
}
